body{

background-color: rgb(255, 255, 255);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
margin: 0;
padding: 20px;
}  

h1{

    color: aqua;
    font-size: 32px;
}

h2{

color: red;

}

h3{

color: blue;

}

button{

text-align: center;

}

button{


    background-color: rgb(104, 209, 35);
}
